<h1>Admin: Dashboard</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<table class="table table-bordered">
<tr>
  <th>Total Products</th>
  <th>Total Categories</th>
</tr>
<tr>
  <td><%= @product_count %></th>
  <td><%= @catagory_count %></th>
</tr>
</table>